*{
    padding: 0;
    margin: 0;
}

.candidate{
    position: relative;
    width: 250px;
    height: 450px;
    margin: 0 20px;
    padding: 25px;
    align-items: center;
    align-self: center;
    text-align: center;
}

.thumb-size{
    height: 85%;
    width: 85%;
}

.img-thumbnail{
    margin: 0 auto;
}

.candidate-info{
    text-align: center;
}

.candidate-names{
    margin-top: 25px;
    margin: 35px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-size: 1.3rem;
}

.vote-section{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    margin-bottom: 20px;;
}

.candidate-info a{
    cursor: pointer;
}

.seal{
    display: none;
    width: 100%;
    height: 100%;
}

.vote-section:hover .seal{
    display: block;
}

.contract-adresses{

    margin: 50px auto;
    text-align: center;
}